/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
    font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****** App specific ******/

h1 {
    padding: 20px;
    font-size: 3em;
}

#npcApp  {
    
    font-size: 1.4em;
    padding: 20px;
}

#npcApp h1 {
    margin: 0 0 20px 0;
}

#npcApp button {
    font-size: .7em;
}

#npcApp  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #eaeaea;
    border: solid 1px #ccc;
}

#npcApp > div {
    padding: 10px;
    background-color: #fff;
    border: solid 1px #ccc; 
    margin: 10px;
}

#npcApp #randomBtnHolder {
    float: right;
    margin: 0 0 0 5px;
}


#npcApp #saveBtnHolder {
    text-align: center;
    margin-top: 30px;
}

#npcApp #npcListOutput {
    display: flex;
    flex-flow: column wrap;
    
}

#npcApp #npcListOutput > a {
    display: block;
    padding: 5px;
    margin: 15px 0 0 0;
} 

#npcApp .npcCard {
    text-align: center;
}
    #npcApp .npcCard > * {
        display: block;
        margin-bottom: 10px;
    }
    #npcApp .npcCard em {
        display: block;
        padding: 6px 0;
        font-size: 1.3em;
    }


#npcApp #editGrid > * {
    display: grid;
    grid-template-columns: 30% auto;
    font-size: .8em;
    margin: 0 0 10px 0;
}
#npcApp #editGrid label > * > * {
    display: block;
}